.footer {
  color: #fff;
  background-color: #000;
  position: relative;
  z-index: 3;

  a {
    position: relative;
    color: #fff;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: width .4s ease;
    }

    &.bold {
      &::after {
        height: 3px;
      }
    }

    &:hover::after {
      width: 100%;
    }
  }

  &-content {
    background-color: #000000;
    position: relative;
    z-index: 3;

    &-top {
      background-color: #910828;
      padding-top: 60px;
      padding-bottom: 66px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 8px;
      margin: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ui-title {
      // max-width: 970px;
      color: #fff;
      max-width: calc(100% - 214px);
      flex: 0 0 calc(100% - 214px);
      // padding-right: 10px;
      padding-right: 137px;
      text-wrap: balance;
    }

    .ui-btn {
      max-width: 214px;
      flex: 0 0 214px;

      &:hover {
        box-shadow: inset 0 -100px 0 0 #fff;
        color: #121317;
      }
    }

    &-bottom {
      padding: 30px 40px;
    }

    a:hover {
      span::after {
        width: 100%;
      }
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 250px;

    a {
      font-weight: 500;
      font-size: 60px;
      line-height: 1.1;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      font-family: "Oswald";
      // margin-right: 56px;

      // &:last-child {
      //   margin-right: 0;
      // }
    }
  }

  &-middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    font-family: "Manrope";
    margin-bottom: 54px;

    &-links {
      a {
        margin-right: 26px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-locations {
      display: flex;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;

    &-left {
      display: inline-block;
    }

    &-right {
      display: inline-block;
    }
  }

  &-location {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }

    &.mw-332 {
      max-width: 332px;
    }

    &.mw-396 {
      max-width: 396px;
    }

    &-title {
      padding-left: 28px;
      position: relative;
      color: #4C4C4C;
      margin-bottom: 24px;


      img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  &-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    align-items: center;

    &-left {
      display: flex;
      max-width: 887px;
      flex: 0 0 887px;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.03em;
    }
    &-right {
      display: flex;
      max-width: calc(100% - 887px);
      flex: 0 0 calc(100% - 887px);
      justify-content: right;
      align-items: center;
      font-weight: 500;
      font-size: 14px;

      span {
        opacity: .7;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px; /* Располагаем линию чуть ниже текста */
          width: 0;
          height: 1px;
          background-color: #fff; /* Цвет подчёркивания */
          transition: width .4s ease; /* Плавное увеличение ширины */
          opacity: .7;
        }
      }
    }

    &-design {
      margin-right: 77px;
      position: relative;
      padding-right: 40px;

      img {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &-develop {
      position: relative;
      padding-right: 66px;

      img {
        position: absolute;
        right: 0;
        top: -10px;
      }
    }
  }

  @media(max-width: 1520.99px) {
     &-content {
      &-top {
        padding-bottom: 90px;
      }

      &-bottom {
        padding-bottom: 23px;
      }

      .ui-title {
        font-weight: 700;
        font-size: 54px;
        line-height: 1.2;
        letter-spacing: -0.02em;
      }
     }

     &-top {
      margin-bottom: 117px;

      a {
        font-size: 46px;
      }
     }

     &-middle {
      flex-direction: column;
      margin-bottom: 73px;

      &-links {
        margin-bottom: 50px;
      }
     }

     &-location {
      margin-right: 71px;

      &-title {
        margin-bottom: 24px;
      }
     }

     &-bottom {
      padding-top: 30px;

      &-left {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        max-width: calc(100% - 464px);
        flex: 0 0 calc(100% - 464px);
      }

      &-right {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.3;
        max-width: 464px;
        flex: 0 0 464px;
      }
     }
  }

  @media(max-width: 1200.99px) {
    &-content {
      .ui-title {
        font-size: 46px;
      }
    }

    &-top {
      a {
        font-size: 38px;
      }
    }
  }

  @media(max-width: 1024.99px) {
    &-content {
      &-top {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
        margin-right: 0;

        .ui-title {
          max-width: none;
          flex: none;
          padding-right: 0;
          margin-bottom: 40px;
          text-wrap: balance;
        }

        .ui-btn {
          max-width: none;
          flex: none;
          width: 100%;
        }
      }

      &-bottom {
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &-top {
      flex-direction: column;
      margin-bottom: 60px;

      a {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-middle {
      margin-bottom: 60px;

      &-links {
        margin-bottom: 60px;
      }

      &-locations {
        flex-direction: column;
      }
    }

    &-location {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-bottom {
      flex-direction: column;
      align-items: flex-start;

      &-design {
        margin-right: 20px;
      }


      &-left {
        max-width: none;
        flex: none;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
      }

      &-right {
        max-width: none;
        flex: none;
        // flex-direction: column;
        align-items: flex-start;
      }

      &-copyright {
        margin-bottom: 30px;
      }
    }
  }

  @media(max-width: 745.99px) {
    &-content {
      &-top {
        padding: 20px 10px;

        .ui-title {
          font-size: 30px;
          margin-bottom: 30px;
        }

        .ui-btn {
          line-height: 58px;
          height: 58px;
          font-weight: 500;
          font-size: 14px;
        }
      }

      &-bottom {
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &-top {
      margin-bottom: 50px;

      a {
        font-size: 32px;
      }
    }

    &-middle {
      margin-bottom: 50px;

      &-links {
        margin-bottom: 50px;

        a {
          display: block;
          margin-bottom: 20px;
          font-size: 14px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-locations {
        font-size: 14px;
      }
    }

    &-location {
      margin-bottom: 30px;
      margin-right: 0;

      &-title {
        margin-bottom: 20px;
      }
    }


    &-bottom {
      padding-top: 50px;

      &-copyright {
        margin-bottom: 20px;
      }

      &-left {
        margin-bottom: 30px;
      }
    }
  }
}