.delivery {
	&-page {
		margin-bottom: 2px;

		.information {
			&-map {
				margin-bottom: 0;

				&-source {
					height: 440px;
					> * {
						height: 440px;
					}
				}
			}

			&-list {
				&-ul {
					max-width: 900px;
				}
			}
		}

		@media (max-width: 1520.99px) {
			.information {
				&-block {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		@media (max-width: 1024.99px) {
			.information {
				&-map {
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		@media (max-width: 1024.99px) {
		}

		@media (max-width: 745.99px) {
			.information {
				&-map {
					&-source {
						height: 260px;
						> * {
							height: 260px;
						}
					}
				}
			}
		}
	}
}
