// .page-wrapper {
//   position: relative;
//   top: -210px;
//   z-index: 1;
// }

.main {
	position: relative;
	z-index: 2;
	padding-top: 64px;
	// margin-top: -64px;

	a {
		color: #fff;
	}

	&-images {
		line-height: 0;
	}

	&-bg {
		position: relative;
		z-index: 1;
		width: 100%;

		img {
			max-height: 100vh;
			width: 100%;
			object-fit: cover;
		}

		&-up {
			line-height: 0;
			position: absolute;
			bottom: 0px;
			z-index: 3;
			width: 100%;

			img {
				max-height: 100vh;
				width: 100%;
				object-fit: cover;
			}
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&-text {
		position: fixed;
		z-index: 2;
		top: 106px;
		text-align: center;
		width: 100%;
		line-height: 0;
		padding: 0 40px;
	}

	&-info {
		position: absolute;
		bottom: 150px;
		z-index: 4;
		width: 100%;
		display: flex;
		align-items: flex-start;
		padding-left: 40px;
		justify-content: space-between;
		padding-right: 10px;
		max-width: 1600px;
		left: 50%;
		transform: translate(-50%, 0);

		.ui-title {
			color: #fff;
			max-width: 890px;
			padding-right: 15px;
		}

		.ui-btn {
			display: none;
		}
	}

	&-block {
		background: #910828;
		width: 100%;
		padding: 30px;
		border-radius: 8px;
		max-width: 530px;
		margin-bottom: 2px;

		&-logo {
			line-height: 0;
			margin-bottom: 33px;
			display: inline-block;
			width: 135px;
			height: 135px;
			border-radius: 50%;
			border: 1px solid rgba(255, 255, 255, 0.2);
			position: relative;

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&-desc {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.3;
			color: #fff;
			max-width: 370px;
			margin-bottom: 20px;
		}

		&-link {
			font-weight: 500;
			font-size: 60px;
			line-height: 1.1;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			font-family: 'Oswald';
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 0;
				height: 3px;
				background-color: #fff;
				transition: width 0.4s ease;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}
}

.category {
	// background-color: #000;
	// padding-bottom: 2px;
	position: relative;
	z-index: 4;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.35);
	top: -150px;
	margin-bottom: -150px;

	.ui-title {
		padding-right: 15px;
	}

	&::after {
		content: '';
		width: 100%;
		height: calc(100% - 150px);
		background-color: #000;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	.splide__arrows.splide__arrows--ltr {
		line-height: 0;
		position: relative;
		bottom: -9px;
		font-size: 0;
	}

	&-content {
		// padding: 110px 30px;
		// margin: 0 10px;
		background-color: #fff;
		border-radius: 8px;
	}

	&-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&-card {
		max-width: 500px;
		position: relative;

		.ui-btn {
			position: absolute;
			bottom: 30px;
			width: calc(100% - 60px);
			left: 30px;
			opacity: 0;
			transform: translateY(20px);
			transition: opacity 0.4s ease, transform 0.4s ease, box-shadow ease 0.4s,
				color ease 0.4s;
		}

		&:hover {
			.ui-btn {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&-head {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		&-count {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.2;
			letter-spacing: 0.01em;
			color: #878b95;
			background-color: #e3e6e8;
			height: 36px;
			line-height: 36px;
			border-radius: 24px;
			padding: 0 16px;
			text-align: center;
			font-family: 'Oswald';
			white-space: nowrap;
		}

		&-content {
			max-width: 500px;
			min-height: 430px;
			border-radius: 8px;
			border: 1px solid #ccd2d6;
			position: relative;
			padding: 30px;
			overflow: hidden;
			background-color: #fff;
		}

		&-title {
			font-weight: 500;
			font-size: 32px;
			line-height: 1.1;
			letter-spacing: -0.01em;
			text-transform: uppercase;
			font-family: 'Oswald';
			margin-bottom: 30px;
			color: #121317;
		}

		&-subtitle {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.3;
			font-family: 'Manrope';
		}

		&-img {
			line-height: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;

			img {
				object-position: right bottom;
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 0;
				object-fit: contain;
			}
		}

		&-btns {
			position: absolute;
			bottom: 30px;
			width: 100%;
			padding: 0 30px;
			display: flex;

			.ui-btn {
				width: 50%;

				&:first-child {
					margin-right: 16px;
				}
			}
		}
	}
}

.advantages {
	position: relative;
	z-index: 3;
	background-color: #000;
	padding-bottom: 2px;

	.ui-title {
		color: #fff;
		text-align: center;
		margin-bottom: 80px;
	}

	&-content {
		position: relative;
		// top: -100px;
		// padding: 110px 30px;
		// margin: 0 10px;
		top: -210px;
		margin-bottom: -210px;
	}

	&-text {
		line-height: 0;
		margin-bottom: 80px;
		text-align: center;
	}

	&-body {
		&-list {
			border: 1px solid #4c4c4c;
			border-radius: 8px;
			display: flex;
		}

		&-item {
			max-width: 253px;
			width: 100%;
			height: 360px;
			border-right: 1px solid #4c4c4c;
			color: #fff;
			text-align: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			font-family: 'Manrope';
			position: relative;
			padding: 30px 8px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&.big {
				padding: 45px 0;
			}

			@media (min-width: 1520px) {
				&:last-child {
					border-right: none;
				}
			}
		}

		&-img {
			line-height: 0;
			padding-top: 80px;

			&.big {
				padding-top: 20px;
			}
		}

		&-cards {
			display: flex;
			max-width: 1266px;
			margin: 0 auto;
			border: 1px solid #4c4c4c;
			border-radius: 8px;
			min-height: 360px;
		}

		&-grid {
			display: flex;
			flex-wrap: wrap;
			max-width: 1266px;
			margin: 0 auto;
			border: 1px solid #4c4c4c;
			border-radius: 8px;

			.advantages-card {
				height: 460px;
				padding: 10px 40px;
				justify-content: center;

				&-img {
					height: 240px;
					margin-bottom: 22px;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						max-height: 163px;
						max-width: 152px;
					}
				}

				&-title {
					max-width: unset;
					margin: 0 0 20px;
					line-height: 1.4;
					letter-spacing: 0.02em;
				}

				&-desc {
					color: #878b95;
					font-weight: 500;
					font-size: 14px;
					line-height: 1.3;

					&.white {
						color: #fff;
					}
				}

				&:nth-child(3n) {
					border-right: none;
				}
				&:not(:nth-last-child(-n + 3)) {
					border-bottom: 1px solid #4c4c4c;
				}
			}
		}
	}

	&-card {
		max-width: 33.33333%;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 65px;
		padding-bottom: 46px;
		padding-left: 8px;
		padding-right: 8px;
		color: #fff;
		border-right: 1px solid #4c4c4c;

		&-title {
			text-transform: uppercase;
			font-weight: 600;
			font-size: 16px;
		}

		&-img {
			line-height: 0;
		}

		&:last-child {
			border-right: none;
		}
	}
}

.trust {
	background-color: #000;
	padding-bottom: 2px;
	position: relative;
	z-index: 3;

	&-content {
		background-color: #fff;
		border-radius: 8px;
		// padding: 110px 30px;
		// margin: 0 10px;

		.ui-title {
			margin-bottom: 50px;
		}

		// .splide__list {
		//   flex-wrap: wrap;
		// }

		.splide__slide:nth-child(4n) .trust-item {
			border-right: none;
		}

		.splide__slide:nth-child(n + 1):nth-child(-n + 4) .trust-item:last-child {
			border-bottom: none;
		}
	}

	&-list {
		border: 1px solid #ccd2d6;
		border-radius: 8px;
	}

	&-item {
		// width: 100%;
		height: 230px;
		position: relative;
		border-right: 1px solid #ccd2d6;
		border-bottom: 1px solid #ccd2d6;
		display: block;

		&-block {
			max-width: 379px;
		}

		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.popular {
	background-color: #000;
	padding-bottom: 2px;
	position: relative;
	z-index: 3;

	.splide__arrows.splide__arrows--ltr {
		line-height: 0;
		position: relative;
		bottom: -9px;
	}

	.ui-title {
		padding-right: 15px;
	}

	&-content {
		// padding: 110px 30px;
		background-color: #f3f4f6;
		// margin: 0 10px;
		border-radius: 8px;
	}

	&-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&-card {
		max-width: 500px;
		position: relative;

		&:hover {
			.popular-card-btns {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&-head {
			position: relative;
			z-index: 1;
		}

		&-links {
			display: none;
		}

		&-content {
			max-width: 500px;
			min-height: 590px;
			border-radius: 8px;
			border: 1px solid #ccd2d6;
			position: relative;
			padding: 30px;
			overflow: hidden;
			background-color: #fff;
		}

		&-title {
			font-weight: 500;
			font-size: 52px;
			line-height: 1.1;
			letter-spacing: -0.01em;
			text-transform: uppercase;
			font-family: 'Oswald';
			margin-bottom: 30px;
		}

		&-subtitle {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.3;
			font-family: 'Manrope';
		}

		&-img {
			line-height: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;

			img {
				object-position: right -115px bottom -95px;
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 0;
				object-fit: contain;
			}
		}

		&-btns {
			position: absolute;
			bottom: 30px;
			width: 100%;
			padding: 0 30px;
			display: flex;
			opacity: 0;
			transform: translateY(20px);
			transition: opacity 0.4s ease, transform 0.4s ease;

			.ui-btn {
				width: 50%;

				&:first-child {
					margin-right: 16px;
				}
			}
		}
	}
}

.cart {
	color: #121317;

	a {
		color: #121317;
	}

	&-wrapper {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		z-index: 50;
		bottom: 0;
		display: none;

		&.active {
			display: block;
		}
	}

	&-block {
		max-width: 530px;
		position: absolute;
		right: 10px;
		bottom: 10px;
		/* bottom: 10px; */
		// height: calc(100% - 20px);
		height: calc(100% - 86px);
		background: #f3f4f6;
		border-radius: 8px;

		&-head {
			padding: 30px;
			font-weight: 700;
			font-size: 64px;
			line-height: 1.2;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			font-family: 'Oswald';
			border-bottom: 1px solid #ccd2d6;
			margin-bottom: 30px;
		}

		&-body {
			padding: 0 30px;
			margin-bottom: 30px;
			height: calc(100% - 294px);
			margin-bottom: 30px;
			overflow-x: hidden;
			overflow-y: auto;
		}

		&-link {
			// position: absolute;
			// bottom: 30px;
			padding: 0 30px;
			width: 100%;

			a {
				width: 100%;
			}
		}
	}

	&-item {
		display: flex;
		position: relative;
		background: #fff;
		padding: 5px;
		border-radius: 8px;
		margin-bottom: 5px;
		padding-right: 42px;

		&:last-child {
			margin-bottom: 0;
		}

		&-img {
			display: block;
			flex: 0 0 120px;
			max-width: 120px;
			height: 120px;
			line-height: 0;
			border: 1px solid #f3f4f6;
			border-radius: 4px;
			margin-right: 10px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&-title {
			font-weight: 500;
			font-size: 24px;
			line-height: 1.3;
			text-transform: uppercase;
			max-width: calc(100% - 130px);
			flex: 0 0 calc(100% - 130px);
			text-wrap: balance;

			a {
				font-family: 'Oswald';
				color: #121317;
			}
		}

		&-remove {
			position: absolute;
			right: 0;
			top: 0;
			border: none;
			background-color: transparent;
			width: 32px;
			height: 32px;
			top: 5px;
			right: 10px;
			padding: 0;
			cursor: pointer;
		}
	}

	&-close {
		position: absolute;
		top: 46px;
		left: -66px;
		background: #f3f4f6;
		border: none;
		width: 46px;
		height: 46px;
		border-radius: 50%;
		padding: 0;
		line-height: 0;
		cursor: pointer;

		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.information {
	background-color: #fff;
	border-radius: 8px;
	padding: 30px;
	margin: 0 10px;

	&-block {
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-address {
		&-wrapper {
			max-width: 309px;
		}

		.information {
			&-title {
				margin-bottom: 0;
			}
			&-text {
				&.small {
					margin: 20px 0 0;
				}
			}
		}
	}

	&-list {
		&-ul {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.3;
			letter-spacing: 0;
			padding-left: 28px;

			li {
				list-style: disc;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-ol {
			list-style: none;
			counter-reset: item;

			margin-bottom: 0;

			li {
				position: relative;
				font-weight: 500;
				font-size: 18px;
				line-height: 1.3;
				letter-spacing: 0;
				color: #121317;

				&.remove-counter {
					counter-increment: unset;

					&::before {
						content: unset;
					}
				}

				&.add-bullet {
					&::after {
						content: '•';
						font-weight: 700;
						position: absolute;
						left: -20px;
						top: 0px;
					}
				}
			}

			a {
				text-decoration: underline;
				transition: color 0.4s;

				&:hover {
					color: #910828;
				}
			}

			> li {
				padding-left: 27px;
				font-weight: 700;
				counter-increment: item;
				margin-bottom: 45px;

				&::before {
					content: counters(item, '.') '. ';
				}

				&::after {
					content: '•';
					font-weight: 700;
					position: absolute;
					left: 7px;
					top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			ol {
				counter-reset: subitem;
				margin-bottom: 0;

				li {
					counter-increment: subitem;

					&:before {
						content: counter(item) '.' counters(subitem, '.') '. ';
					}
				}
			}
		}
	}

	&-social {
		margin-bottom: 50px;
	}

	&-details {
		max-width: 900px;
	}

	&-phones {
		.information-title {
			margin-bottom: 0;

			&:not(:last-child) {
				margin-right: 57px;
			}
		}
	}

	&-map {
		&-source {
			border-radius: 8px;
			overflow: hidden;
			height: 440px;
			> * {
				object-fit: cover;
				width: 100%;
				height: 440px;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-title {
		font-family: Oswald;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.3;
		letter-spacing: 0;
		text-transform: uppercase;
		margin-bottom: 20px;

		&.big {
			font-size: 60px;
			line-height: 1.1;
			letter-spacing: -0.02em;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.link {
			&:hover::after {
				width: 100%;
			}

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -4px;
				width: 0;
				height: 3px;
				background-color: #121317;
				transition: width 0.4s;
			}
		}
	}

	&-text {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.3;
		margin-bottom: 20px;
		letter-spacing: 0;

		p {
			margin-bottom: 0;
		}

		&.small {
			font-size: 14px;
		}

		&.gray {
			color: #878b95;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.shop {
	padding: 30px;
	background-color: #fff;
	border-radius: 8px;
	margin: 0 10px;

	&-card {
		position: relative;
		padding: 30px;

		height: 430px;

		border: 1px solid #ccd2d6;
		border-radius: 8px;
		background-color: #f3f4f6;

		&-title {
			position: relative;
			z-index: 1;
			font-family: Oswald;
			font-weight: 500;
			font-size: 32px;
			line-height: 1.1;
			letter-spacing: 0%;
			text-transform: uppercase;
		}

		&-img {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 100%;
			width: 100%;
			overflow: hidden;

			img {
				position: relative;
				z-index: 0;

				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: right bottom;
			}
		}

		.ui-btn {
			position: absolute;
			bottom: 30px;
			width: calc(100% - 60px);
			left: 30px;
			opacity: 0;
			letter-spacing: 0;
			transform: translateY(20px);
			transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s, color 0.4s,
				-webkit-transform 0.4s, -webkit-box-shadow 0.4s;
		}

		&:hover {
			.ui-btn {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

@media (max-width: 1520.99px) {
	.popular {
		.splide__arrows.splide__arrows--ltr {
			bottom: -6px;
		}

		&-card {
			&-title {
				font-size: 42px;
				margin-bottom: 30px;
			}

			&-content {
				min-height: 500px;
			}
		}
	}

	.category {
		top: -83px;
		margin-bottom: -83px;

		&::after {
			height: calc(100% - 83px);
		}

		.splide__arrows.splide__arrows--ltr {
			bottom: -6px;
		}

		&-card {
			&-title {
				font-size: 24px;
				margin-bottom: 30px;
				max-width: 50%;
			}

			&-content {
				min-height: 350px;
			}
		}
	}

	.advantages {
		.ui-title {
			margin-bottom: 50px;
		}

		&-content {
			top: -180px;
			margin-bottom: -180px;
		}

		&-text {
			margin-bottom: 50px;
		}

		&-body {
			&-list {
				flex-wrap: wrap;
			}

			&-img {
				padding-top: 29px;
			}

			&-item {
				max-width: 33.33333%;
				height: 220px;
				// border: none;

				@media (min-width: 1024.99px) {
					&:nth-child(3n) {
						border-right: none;
					}

					&:nth-child(n + 1):nth-child(-n + 3) {
						border-bottom: 1px solid #4c4c4c;
					}
				}
			}
		}
	}

	.main {
		margin-top: -98px;
		padding-top: 98px;

		&-info {
			bottom: 83px;
		}

		&-text {
			top: 113px;
		}

		&-block {
			max-width: 425px;

			&-logo {
				width: 100px;
				height: 100px;
				margin-bottom: 48px;
			}

			&-link {
				font-size: 46px;
			}

			&-desc {
				margin-bottom: 16px;
			}
		}
	}

	.cart {
		// &-wrapper {
		//   height: calc(100% - 98px);
		// }

		&-block {
			height: calc(100% - 118px);
			&-head {
				font-size: 60px;
			}

			&-body {
				height: calc(100% - 290px);
			}
		}

		&-item {
			&-title {
				font-size: 22px;
			}
		}
	}

	.information {
		&-title {
			&.big {
				font-size: 46px;
			}
		}

		&-list {
			&-ul {
				font-size: 14px;
			}

			&-ol {
				li {
					font-size: 14px;

					&.add-bullet {
						&::after {
							left: -15px;
						}
					}
				}

				> li {
					padding-left: 21px;
					margin-bottom: 35px;

					&::after {
						left: 6px;
					}
				}
			}
		}
	}

	.shop {
		&-card {
			padding: 20px;
			height: 350px;

			&-title {
				font-size: 24px;
			}

			.ui-btn {
				font-size: 14px;
				line-height: 57px;

				bottom: 20px;
				left: 20px;

				height: 57px;
				width: calc(100% - 40px);
			}
		}
	}
}

@media (max-width: 1200px) {
	// .category-card-img {
	//   bottom: -20%;
	//   right: -20%;
	// }
	.popular-card-img {
		bottom: -20%;
		right: -20%;
	}

	// .category-card-img img {
	//   object-position: right bottom;
	// }
	.popular-card-img img {
		object-position: right bottom;
	}
}

@media (max-width: 1170.99px) {
	.information {
		&-address {
			margin-bottom: 30px;
			&:nth-last-child(-n + 2) {
				margin-bottom: 0;
			}
		}

		&-block {
			&__social {
				margin-bottom: 30px;
			}
		}

		&-details {
			max-width: 728px;
		}

		&-social {
			margin-bottom: 50px;
			.information-block {
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&-phones {
			.information-title {
				display: block;
				width: fit-content;
				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 30px;
				}
			}
		}

		&-map {
			margin-bottom: 20px;

			&-source {
				height: 260px;
				> * {
					height: 260px;
				}
			}
		}

		&-text {
			font-size: 14px;
		}
	}

	.shop {
		&-card {
			height: 330px;

			&-block {
				margin-bottom: 8px;
				&:nth-last-child(-n + 2) {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media (max-width: 1024.99px) {
	.category {
		// top: 0;
		// margin-bottom: 0;
		top: -72px;
		margin-bottom: -72px;

		.splide__arrows.splide__arrows--ltr {
			bottom: 0;
		}

		.splide__track {
			margin: 0 -236px;
		}

		// &-content {
		//   margin-left: 0;
		//   margin-right: 0;
		//   padding: 80px 20px;
		// }

		&-head {
			margin-bottom: 30px;
		}

		&-card {
			// &-title {
			//   font-size: 24px;
			// }

			.ui-btn {
				display: none;
			}

			&-content {
				margin-bottom: 5px;
				min-height: 330px;
			}
		}

		&-content {
			overflow: hidden;
		}
	}

	.popular {
		.splide__arrows.splide__arrows--ltr {
			bottom: 0;
		}

		.splide__track {
			margin: 0 -236px;
		}

		.ui-btn {
			height: 42px;
			line-height: 42px;
			font-size: 14px;
		}

		// &-content {
		//   margin-left: 0;
		//   margin-right: 0;
		//   padding: 80px 20px;
		// }

		&-head {
			margin-bottom: 30px;
		}

		&-card {
			&-title {
				font-size: 32px;
			}

			&-content {
				margin-bottom: 5px;
				min-height: 450px;
			}

			&-btns {
				position: static;
				opacity: 1;
				transform: none;
				padding: 0;

				.ui-btn:first-child {
					margin-right: 5px;
				}
			}
		}

		&-content {
			overflow: hidden;
		}
	}

	.trust {
		&-content {
			// padding: 80px 20px;
			overflow: hidden;
			// margin: 0;

			.ui-title {
				margin-bottom: 30px;
			}
		}

		&-list {
			margin: 0 -30px;
		}

		&-content {
			.splide__slide:nth-child(4n) .trust-item {
				border-right: 1px solid #ccd2d6;
			}
		}

		&-item {
			width: 240px;
			border-bottom: none;

			&-block {
				display: flex;
				max-width: none;
			}
		}
	}

	.advantages {
		.ui-title {
			margin-bottom: 30px;
		}

		&-content {
			// margin-left: 0;
			// margin-right: 0;
			// padding: 80px 20px;
			margin-bottom: -80px;
			top: -80px;
		}

		&-text {
			margin-bottom: 30px;
		}

		&-body {
			&-list {
				flex-wrap: wrap;
			}

			&-img {
				padding-top: 29px;
			}

			&-item {
				max-width: 50%;
				border-bottom: 1px solid #4c4c4c;

				@media (min-width: 745px) {
					&:nth-child(even) {
						border-right: none;
					}

					&:nth-last-of-type(-n + 2) {
						border-bottom: none;
					}
				}
			}

			&-grid {
				.advantages-card {
					height: 305px;

					&-img {
						img {
							max-width: 76px;
							max-height: 82px;
						}
					}

					&-info {
						max-width: 162px;
						margin: 0 auto;
					}

					&-desc {
						font-size: 10px;
						font-weight: 400;
						line-height: 1;
						letter-spacing: -0.03em;
					}

					&-img {
						height: 120px;
					}
				}
			}
		}

		&-card {
			padding-bottom: 34px;

			&-title {
				font-size: 12px;
				max-width: 145px;
				margin: 0 auto;
			}
		}
	}

	.main {
		padding-top: 101px;
		margin-top: -101px;

		&-info {
			flex-direction: column;
			padding: 0 20px;
			// bottom: 0;
			bottom: 72px;
		}

		&-text {
			padding: 0 20px;
			top: 180px;
		}

		&-block {
			display: none;
		}

		&-info {
			margin-bottom: 80px;
			.ui-btn {
				display: block;
				width: 100%;
			}

			.ui-title {
				margin-bottom: 40px;
			}
		}
	}

	.cart {
		&-block {
			&-head {
				font-size: 54px;
				padding: 20px;
			}

			&-body {
				padding: 0 20px;
				height: calc(100% - 262px);
			}

			&-link {
				padding: 0 20px;
			}
		}

		&-item {
			&-title {
				font-size: 20px;
			}
		}
	}

	.information {
		padding: 30px 20px;
		margin: 0;

		&-list {
			&-ul {
				padding-left: 20px;
			}
		}
	}

	.shop {
		padding: 20px;
		margin: 0;
	}
}

@media (max-width: 745.99px) {
	.category {
		top: -38px;
		margin-bottom: -38px;

		.splide__arrow {
			height: 42px;
			width: 42px;
		}

		.splide__arrows {
			max-width: 92px;
			flex: 0 0 92px;
		}

		.ui-title {
			max-width: calc(100% - 92px);
			flex: 0 0 calc(100% - 92px);
		}

		// &-content {
		//   padding: 50px 10px;
		// }

		&-card {
			&-title {
				// font-size: 24px;
				margin-bottom: 10px;
				max-width: 100%;
			}

			&-count {
				display: none;
			}

			&-subtitle {
				font-size: 12px;
			}

			&-content {
				min-height: 270px;
				padding: 20px;
			}

			&-btns {
				flex-direction: column;

				.ui-btn {
					width: 100%;
					margin-bottom: 5px;

					&:first-child {
						margin-right: 0;
						margin-bottom: 5px;
					}
				}
			}
		}

		&-content {
			overflow: hidden;
		}
	}

	.popular {
		.splide__arrow {
			height: 42px;
			width: 42px;
		}

		.splide__arrows {
			max-width: 92px;
			flex: 0 0 92px;
		}

		.ui-title {
			max-width: calc(100% - 92px);
			flex: 0 0 calc(100% - 92px);
		}

		// &-content {
		//   margin-left: 0;
		//   margin-right: 0;
		//   padding: 50px 10px;
		// }

		&-card {
			&-title {
				font-size: 24px;
				margin-bottom: 10px;
			}

			&-subtitle {
				font-size: 12px;
			}

			&-content {
				min-height: 270px;
				padding: 20px;
			}

			&-btns {
				flex-direction: column;

				.ui-btn {
					width: 100%;
					margin-bottom: 5px;

					&:first-child {
						margin-right: 0;
						margin-bottom: 5px;
					}
				}
			}
		}

		&-content {
			overflow: hidden;
		}
	}

	.trust {
		&-content {
			// padding: 50px 10px;
			overflow: hidden;
		}

		&-list {
			margin: 0 -30px;
		}

		&-content {
			.splide__slide:nth-child(n + 1) .trust-item:last-child {
				border-bottom: none;
			}
		}

		&-item {
			width: 100%;
			padding: 30px;
			border-bottom: 1px solid #ccd2d6;
			height: 110px;

			img {
				position: relative;
				width: 80%;
				height: 80%;
			}

			&-block {
				display: block;
				max-width: none;
			}
		}
	}

	.advantages {
		&-content {
			// margin-left: 0;
			// margin-right: 0;
			// padding: 50px 10px;
			margin-bottom: -50px;
			top: -50px;
		}

		&-body {
			&-list {
				flex-wrap: wrap;
				flex-direction: column;
			}

			&-img {
				padding-top: 29px;
			}

			&-item {
				max-width: 100%;
				border-bottom: 1px solid #4c4c4c;
				border-right: none;
				height: 210px;

				&:last-child {
					border-bottom: none;
				}
			}

			&-cards {
				flex-direction: column;
			}

			&-grid {
				.advantages-card {
					height: 255px;
					padding: 10px 20px;

					&-img {
						margin-bottom: 10px;
					}
					&-info {
						max-width: 315px;
					}
				}
			}
		}

		&-card {
			padding-top: 50px;
			padding-bottom: 20px;
			max-width: 100%;
			border-right: none;
			border-bottom: 1px solid #4c4c4c;
			min-height: 210px;

			&:last-child {
				border-bottom: none;
			}

			&-img {
				max-width: 64px;
				margin: 0 auto;
				line-height: 0;
			}

			&-title {
				max-width: none;
			}
		}
	}

	.main {
		padding-top: 74px;
		margin-top: -74px;

		&-info {
			padding: 0 10px;
			bottom: 38px;
		}

		&-text {
			padding: 0 10px;
			// top: 152px;
			top: calc(25% - 74px);
		}

		&-block {
			display: none;
		}

		&-info {
			margin-bottom: 50px;

			.ui-btn {
				display: block;
				width: 100%;
				height: 58px;
				line-height: 58px;
				font-size: 14px;
			}

			.ui-title {
				margin-bottom: 20px;
			}
		}
	}

	.cart {
		// &-wrapper {
		//   height: calc(100% - 74px);
		// }

		&-block {
			max-width: none;
			top: auto;
			height: 100%;
			right: auto;
			bottom: auto;
			width: 100%;
			border-radius: 0;
			height: calc(100% - 74px);
			bottom: 0;

			&-head {
				font-size: 30px;
				padding: 10px;
				padding-bottom: 20px;
				margin-bottom: 20px;
			}

			&-body {
				padding: 0 10px;
				height: calc(100% - 185px);
			}

			&-link {
				padding: 0 10px;

				.ui-btn {
					height: 58px;
					line-height: 58px;
				}
			}
		}

		&-close {
			left: auto;
			right: 10px;
			background: #121317;
			top: 10px;

			img {
				filter: brightness(0) invert(1);
			}
		}

		&-item {
			&-title {
				font-size: 18px;
				max-width: calc(100% - 88px);
				flex: 0 0 calc(100% - 88px);
			}

			&-img {
				flex: 0 0 78px;
				max-width: 78px;
				height: 78px;
			}
		}
	}

	.information {
		padding: 20px 10px;

		&-address {
			margin-bottom: 20px;

			.information-text {
				&.small {
					margin: 10px 0 0;
				}
			}

			&-wrapper {
				max-width: 334px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
		&-phones {
			.information-title {
				&:not(:last-child) {
					margin: 0 0 20px;
				}
			}
		}

		&-social {
			margin-bottom: 30px;
		}

		&-map {
			margin-bottom: 30px;
			&-source {
				height: 360px;
				> * {
					height: 360px;
				}
			}
		}

		&-details {
			.information-text {
				font-size: 18px;
				margin-bottom: 20px;
			}
		}

		&-block {
			margin-bottom: 30px;
		}

		&-title {
			font-size: 18px;
			&.big {
				font-size: 32px;
			}
		}

		&-text {
			margin-bottom: 10px;
		}
	}

	.shop {
		padding: 10px;

		&-card {
			height: 220px;

			&-block {
				margin-bottom: 8px;

				&:nth-last-child(-n + 2) {
					margin-bottom: 8px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
